body {
  background-image: linear-gradient(to bottom, #dcdcdc 50%, #e9e9e9 50%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weather-card {
  max-width: 400px;
  min-height: 500px;
}

.weather-icon {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.2));
}

.time-display {
  font-size: 1.2rem;
  color: #6c757d;
}

.day-night-icon.fa-sun {
  color: #FFA500;
}

.day-night-icon.fa-moon {
  color: #4682B4;
}

.weather-stat {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.1) 50%);
}

.clouds-stat {
  background-color: #f78a55;
}

.humidity-stat {
  background-color: #b56291;
}

.pressure-stat {
  background-color: #48567b;
}

.country-flag {
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.error-animation {
  animation: errorEffect 0.3s linear 1;
}

@keyframes errorEffect {
  0% { transform: translate(10px, 5px); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(8px, 2px); }
  75% { transform: translate(-2px, 5px); }
  100% { transform: translate(0, 0); }
}